<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script src="echarts/echarts.min.js"></script>
</head>

<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>

<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var areaStr = [[${areaList}]];

    var fromBroadStr = [[${fromBroadList}]];
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '境外输入省市TOP10'
        },
        tooltip: {  //提示框组件
            trigger:'axis'
        },

        xAxis: {
            data: JSON.parse(areaStr)
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: JSON.parse(fromBroadStr),
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(220, 220, 220, 0.8)'
            }
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>