<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script src="echarts/echarts.min.js"></script>
</head>

<body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>

    <script th:inline="javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        var dateStr = [[${dateList}]];

        var nowConfirmStr = [[${nowConfirmList}]];
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '国内疫情数据变化'
            },
            tooltip: {  //提示框组件
                trigger:'axis'
            },
            legend: {   // 曲线含义说明
                data:['现有确证']
            },
            xAxis: {
                data: JSON.parse(dateStr)
            },
            yAxis: {},
            series: [{
                name: '现有确诊',
                data: JSON.parse(nowConfirmStr),
                // data: nowConfirmStr,
                type: 'line'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>